<h3>Notiflix</h3>
<div class="notiflix">
  <button (click)="notiflix_alert('warning')">Notify Warning</button>
  <button (click)="notiflix_alert('success')">Notify Success</button>
  <button (click)="notiflix_alert('error')">Notify Error</button>
  <button (click)="notiflix_alert('info')">Notify Info</button>
</div>
<hr />
<h3>Toastr</h3>
<div class="toastr toast-bottom-right">
  <button (click)="toastr_alert('warning')">Notify Warning</button>
  <button (click)="toastr_alert('success')">Notify Success</button>
  <button (click)="toastr_alert('error')">Notify Error</button>
  <button (click)="toastr_alert('info')">Notify Info</button>
</div>
<hr />
